@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.light_font{ /*음,. 근데 main.css에서 불러와서 쓰는듯요 ,,*/
    font-family: 'GmarketSansLight';
}